In [27]:
import xgboost
import sklearn
import pandas as pd
import numpy as np
import re
from sklearn.feature_extraction.text import TfidfVectorizer

In [21]:
df = pd.read_csv('/Users/james04nesbitt/DS-ML/xgboost/data.csv')
df.head()

                                            Sentence Sentiment
0  The GeoSolutions technology will leverage Bene...  positive
1  $ESI on lows, down $1.50 to $2.50 BK a real po...  negative
2  For the last quarter of 2010 , Componenta 's n...  positive
3  According to the Finnish-Russian Chamber of Co...   neutral
4  The Swedish buyout firm has sold its remaining...   neutral

In [25]:
df['Sentence'] = df['Sentence'].str.lower()
def remove_symbols_and_punctuation(text):
    # Define a regular expression pattern to match symbols and punctuation
    pattern = r'[^\w\s]'  # Matches any character that is not a word character (alphanumeric) or whitespace
    return re.sub(pattern, '', text)

# Apply the function to the 'text_column' and create a new column 'clean_text'
df['Sentence'] = df['Sentence'].apply(remove_symbols_and_punctuation)
df.head()

                                            Sentence Sentiment
0  the geosolutions technology will leverage bene...  positive
1  esi on lows down 150 to 250 bk a real possibility  negative
2  for the last quarter of 2010  componenta s net...  positive
3  according to the finnishrussian chamber of com...   neutral
4  the swedish buyout firm has sold its remaining...   neutral

In [33]:
vect = TfidfVectorizer()
X = vect.fit_transform(df['Sentence'])

(5842, 12700)